h1 {
  color: rgb(50, 97, 91);
}

h2 {
  color:rgb(150, 86, 76)
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.my-class {
  margin: 12px;
  border: 5px dotted rgb(168, 147, 129);
  padding: 30px;
}

#kiddo {
  float: right;
}
